<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<!-- This file is part of udisks -->

<service-group>
  <name replace-wildcards="yes">%h</name>

  <service>
    <type>_wipeon._tcp</type>
    <port>5000</port>
  </service>
</service-group>
